OWLPLAYER_PORT=8080
MEDIA_ROOT_HOST=./music

POSTGRES_DB=owlplayer
POSTGRES_USER=owlplayer
POSTGRES_PASSWORD=owlplayer
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

SETUP_BOOTSTRAP_TOKEN=change-this-setup-token
JWT_SECRET=change-this-secret-in-production
